body{
    max-width: 100vw;
}

section{
    max-width: 100vw;
    position: relative;
}

img{
    width: 100%;
    height: auto;
    object-fit: cover;
}

.container{
    max-width: 90vw;
    margin: 0 auto;

}

.background{
    z-index: -1;
    position: absolute;
    top: 0;
    left:0;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.--relative{
    position: relative;
}

.--bottom{
    align-self: flex-end;
}

.--top{
    align-self: baseline;
}

.--100{
    width: 100%;
}

.--40{
    width: 40%;
}

.--10{
    width: 10%;
}

.--black{
    width: calc(100% + 5vw) !important;
    background-color: black;
}

.header{
    height: 7vh;
}

.logo{
    margin-left: 100px;
}

.nav__link{
    color: #fff;
    text-align: center !important;
}
